---
layout: default
title: Travel
---

<div class="home">

  <h1>Travel</h1>

  <div id="map-canvas" style="width: 100%; height: 400px;">
  </div>

  <div class="travel-data" style="display: none;">
    [
    {% for post in site.categories.travel %}
      {
        "title": "{{ post.title }}",
        "date": "{{ post.date | date_to_xmlschema }}",
        "coords": [
            {% for coord in post.coords %}
            {
              "lat": "{{ coord.lat }}",
              "lng": "{{ coord.lng }}"
            }{% if forloop.index != forloop.length %},{% endif %}
            {% endfor %}
        ]
      }{% if forloop.index != forloop.length %},{% endif %}
    {% endfor %}
    ]
  </div>

  <ul class="posts">
    {% for post in site.categories.travel %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
